# Database Configuration
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5433/postgres
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=postgres

# LLM Configuration
APP_LLM_PROVIDER=ollama
OLLAMA_BASE_URL=http://localhost:11434
OLLAMA_MODEL=mistral

# Voyage Configuration
VOYAGE_API_KEY=pa-YDPSXRlO_U4txJ4qqBnASb3xTCaulT5zf8lJ0Shgw0T
VOYAGE_BASE_URL=https://api.voyageai.com/v1/embeddings
VOYAGE_MODEL=voyage-3

# Chroma Configuration
CHROMA_URL=http://localhost:8000

# Spring Configuration
SPRING_PROFILES_ACTIVE=dev
